/* change these */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap');
/* @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap'); */
@import url("https://use.typekit.net/iry6ryc.css");
@import url("https://use.typekit.net/iry6ryc.css");

* {
  box-sizing: border-box;
}

/* THIS IS ALL meant for editing. You might want to do it differently, 
name the variables differently, 
use the fonts in other ways in the font hierarchy etc. */

/* change these */
:root {
  
  --color-1: #b43518;
  --color-2: #fbb020;
  --color-3: #d16c35;
--color-4: #000;

  --primary-font: "milka", sans-serif;
  --secondary-font: "Heebo", sans-serif;
  --main-text-font: "ibm-plex-mono", sans-serif;
  --main-text-color: #000;

  --white-space: 1rem;
}

button {
  transition: all 3s;
}

a {
  transition: all 3s;
}

button:hover {
  background-color: var(--link-hover-color);
  transform: scale(3) rotate(40deg);
}

button:active {
  background-color: var(--bg-color);
}

a:hover {
  color: var(--color-3);
  font-size: 4rem;
}

html {
  font-size: 100%;
  font-family: var(--primary-font);
}

img {
  max-width: 100%;
  height: auto;
}

header,
main,
footer {
  max-width: 1300px;
  margin: 0 auto;
  padding: calc(2 * var(--white-space));
}

.full-width {
  background: var(--color-4);
  color: white;
  width: 100%;
}



.header-wrapper h1 {
  font-family: var(--primary-font);
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-right: 0.75em;
  font-weight: normal;
  text-shadow: 3px 3px grey;
  color: white;
}

.header-wrapper h2 {
  font-family: var(--secondary-font);
  font-size: 1.6em;
  color: rgba(255, 255, 255, 0.95);
  font-weight: normal;
  margin: var(--white-space) 0;
}

.header-wrapper h3 {
  font-size: 1.2rem;
  font-style: normal;
  font-family: var(--main-text-font);
}

.header-wrapper h4 {
  padding: 1rem 0rem 1rem 0rem;
  font-size: 0.8rem;
  font-family: var(--main-text-font);
}

main {
  padding: calc(2 * var(--white-space));
}

section {
  margin-bottom: calc(4 * var(--white-space));
}

.section-heading {
  font-family: var(--secondary-font);
  font-style: normal;
  font-size: 1.3rem;
  color: #000;
  opacity: 1;
  margin: 0.5rem 0;
}

.section-heading:hover{
  opacity: 0.5;
}

ul {
  display: flex;
  justify-content: space-between;
}

ul li{
  font-family: var(--main-text-font);
  font-size: 2rem;
  font-weight: bold;
  color: #000;
}

.swatches li {
  margin-right: 5vw;
  height: 15vw;
  width: 20%;
}

ul li:last-child {
  margin-right: 0;
}

.color-swatch-1 {
  background-color: var(--color-1);
}

.color-swatch-2 {
  background-color: var(--color-2);
}

.color-swatch-3 {
  background-color: var(--color-3);
}

.color-swatch-4 {
  background-color: var(--color-4);
}

.color-swatch-5 {
  background-color: var(--color-5);
}

.textures li {
  height: 30vw;
  width: 40%;
  margin-right: 5vw;
}


.texture-swatch-2 {
  background: black;
  animation: grain 0s steps(10) infinite;
}

.noise {
  /* ... */
  background: 
    linear-gradient(20deg, rebeccapurple, transparent), 
    url(https://grainy-gradients.vercel.app/noise.svg); 
 
}
.overlay {
  /* ... */
  background: moccasin;
  mix-blend-mode: multiply;}

.images ul {
  flex-direction: column;
  text-align: center;
}

.images li {
  display: block;
  /*margin-right: 5vw;*/
  margin-bottom: 1rem;
}

button {
  padding: 1rem;
  border-radius: 0.5rem;
  background: var(--color-1);
  text-align: center;
  text-decoration: none;
  font: bold 1.25em/1 var(--secondary-font);
  font-weight: normal;
  letter-spacing: 1px;
  color: var(--color-2);
  text-transform: uppercase;
  text-shadow: 0px -1px 0px #000;
  transition: all 0.2s ease;
  cursor: pointer;
  margin: 0 1rem 0 0; /* 22S - 0 margin-bottom mobile */
}

.secondary-button {
  background: var(--color-2);
  color: var(--color-1);

}

button:focus,
button:active,
button:focus-within {
  outline: 0;
  border-radius: 4px;
}

.typography-main {
  font-family: var(--main-text-font);
  color: var(--main-text-color);
}

.h1-sample {
  font-family: var(--primary-font);
  font-size: 2.4rem;
  font-weight: normal;
  color: var(--color-1);
  text-shadow: 3px 3px var(--color-2);
}

.h2-sample {
  font-family: var(--secondary-font);
  font-style: normal;
  color: var(--color-2);
  font-size: 1.25rem;
}

p.typography-sample {
  font-family: var(--main-text-font);
  line-height: 1.5;
 font-weight: 600;
  max-width: 960px;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a {
  font-family: var(--secondary-font);
  color: var(--color-1);
  font-weight: bold;
  text-decoration: none;
  transition: all 0.2s;
}

p[class*="font-details-"] {
  margin-top: 0.5rem;
  margin-bottom: calc(2 * var(--white-space));
  font-size: 0.75rem;
  font-family: var(--secondary-font);
  color: #6f6f6f;
}

.adjectives ul {
  font-size: 2rem;
  opacity: 0.5;
}

.adjectives ul {
  flex-direction: column;
}

footer {
  font-style: italic;
}

@media (min-width: 800px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
  }

  .swatches li {
    margin-right: 3%;
    height: 10vw;
    /* width: 20%; 22s - already in mobile */
  }

  .textures li {
    height: 15vw;
  }
}

@media (min-width: 900px) {
  .adjectives ul {
    flex-direction: row;
  }
}

